// SIDEBAR
$sidebar-bg: #FAFBFD;
$sidebar-orange: #F7542E;
$sidebar-deep-blue: #090F31;
$sidebar-gray: #9E9E9E;

// INPUT BUTTONS
$gray: #4F4F4F;
$dark-gray: #333333;
$light-gray: #828282;
$blue: #2962FF;
$red: #D32F2F;
$bg-gray: #F2F2F2;
